bin/
obj/
.vs/
.idea/
*.user
*.suo
*.DS_Store
artifacts/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
dist/
build/main/base_library.zip
build/main/Analysis-00.toc
.gitignore
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/EXE-00.toc
build/main/xref-main.html
build/main/warn-main.txt
build/main/PYZ-00.toc
main.spec
